.ceoName{
    margin-left: 160px;
    padding-top: 10px;
    /* font-family: 'dm-a'; */
}

.follow{
    padding-top: 8px;
    color: #9A9A9A;
    font-weight: bold;
    display: flex;
    gap: 12px;
}

.bio{
    padding: 30px;
}


.insta{
    font-size: 13px;
    text-decoration: none;
    color: rgb(80, 172, 208);
}

.icon{
    display: flex;
    /* justify-content: space-around; */
    gap: 20px;
    font-size: 12px;
    /* padding-left: 5px; */
    padding-top: 10px;
}

.ceoicons{
    height: 14px;
    width: 14px;
}

