*{
    padding: 0;
    margin: 0;
}

.title{
    padding: 30px 15px 30px 15px;
    /* padding-bottom: 30px; */
}

.paragraph{
    padding: 0px 15px 30px 15px;
}

.extra{
    font-size: 12px;
    padding: 0 15px 0 15px;
    display: flex;
    justify-content:space-between;
}

.icons{
    height: 17px;
    width: 17px;
}

.allicons{
    display: flex;
    gap: 7px;
}

.righticons{
    height: 20px;
    width: 20px;
}